<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/cardStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="nombre">
    </div>

    <div class="container">
        <div class="image">
            <img src="https://www.xtrafondos.com/wallpapers/vertical/the-legend-of-zelda-4067.jpg" alt="">
        </div>
        <div class="info">

        </div>
    </div>
</body>
</html>